baseUrl="https://YOUR_FUNC_APP_NAME.azurewebsites.net"
authCode="code=YOUR_HOST_KEY&"
notificationUrl="https://YOUR_FUNC_APP_NAME.azurewebsites.net/api/webhooks/service?code=YOUR_HOST_KEY"
listTitle="YOUR_SHAREPOINT_LIST"